# Mac stuff:
.DS_Store
.github
# trunk output folder
dist
nginx
ffmpeg
assets
v
# Rust compile target directories:
target
target_ra
target_wasm

# https://github.com/lycheeverse/lychee
.lycheecache
streams.log
